@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-light: #f9f9f9;
  --primary-dark: #112d4e;
  --secondary-light: #dbe2ef;
  --secondary-dark: #3f72af;
}

.card {
  @apply flex flex-col my-4 p-2 bg-light-100 dark:bg-primaryDark border shadow-md rounded-3xl hover:shadow-lg dark:shadow-xl hover:dark:shadow-2xl active:shadow-inner border-opacity-50 active:border-opacity-100 transition;
}

.card-inner {
  @apply flex flex-col p-2 border shadow-inner rounded-3xl active:shadow-inner active:border-opacity-100 transition;
}

.card-btn {
  @apply flex flex-col justify-center items-center p-1.5 bg-light-200 dark:bg-dark-400 border shadow-md rounded-3xl hover:shadow-lg dark:shadow-xl hover:dark:shadow-2xl active:shadow-inner border-opacity-50 active:border-opacity-100 active:scale-75 transition cursor-pointer;
}

.link {
  @apply text-blue-800 cursor-pointer hover:text-blue-600 hover:underline font-semibold transition active:scale-90;
}

.btn-submit {
  @apply w-48 p-2 bg-dark-400 dark:bg-light-500 text-slate-100 dark:text-slate-700 rounded-3xl lg:hover:bg-dark-300 lg:dark:hover:bg-light-200 transition cursor-pointer active:scale-75 active:shadow-inner;
}

/* react-burger-menu */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 16px;
  top: 16px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: var(--primary-dark);
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: var(--secondary-dark);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: var(--primary-light);
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: var(--primary-dark);
  padding: 2.5em 0.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: var(--primary-light);
  /* padding: 0.8em; */
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

@media (prefers-color-scheme: dark) {
  .bm-menu {
    background: var(--primary-light);
  }

  .bm-item-list {
    color: var(--primary-dark);
  }

  .bm-cross {
    background: var(--primary-dark);
  }

  .bm-burger-bars {
    background: var(--primary-light);
  }

  .bm-burger-bars-hover {
    background: var(--secondary-light);
  }
}
